
h1 {
  font-size: 3rem;
  margin:  3%;
  color: white;
}

body {
  font-family: 'Sarabun', sans-serif;
  text-align: center;
  background-color: grey;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.pairCard {
  width: 125px;
  height: 125px;
  display: inline-block;
  border: 5px solid black;
  border-radius: 20%;
  background-size: cover;
  background-position: center;
}

.matched {
  box-shadow: 0 0 20px white;
  pointer-events: none;
}

.disable-click {
  pointer-events: none;
}

#score {
  color: white;
  margin: 1%;
}

.butn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #6034d9;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #ff00d9;
  background-image: -webkit-gradient(top, #ff00d9, #a234d9);
  background-image: -webkit-linear-gradient(top, #ff00d9, #a234d9);
  background-image: -moz-linear-gradient(top, #ff00d9, #a234d9);
  background-image: -ms-linear-gradient(top, #ff00d9, #a234d9);
  background-image: -o-linear-gradient(top, #ff00d9, #a234d9);
  background-image: linear-gradient(to bottom, #ff00d9, #a234d9);
  text-decoration: none;
}
